
<%= simple_form_for @doctor, html: {'data-turbo' => "false"} do |f|%>

    <%= f.error_notification %>
   
    <%= f.object.errors.full_messages.join(", ") if f.object.errors.any? %>
    <h4>Doctor</h4>
    <%= f.input :name%>
    <%= f.input :specialization%><br>
        <h4>APPOINTMENT</h4>
        <%= f.simple_fields_for :appointments do |appointment|%>
        <%= render 'appointment_fields', {:appointment=> appointment, :f=> f}%>
        <br><br>
        <% end %>
        <%= link_to_add_appointments "Add Appointment", f, :appointments%><br>

    <%= f.button :submit, class: 'btn btn-primary'%>
<% end %>

