<%= simple_form_for @doctor, html: {'data-turbo' => "false"} do |f|%>
  <%= f.error_notification %>
  <%= f.object.errors.full_messages.join(", ") if f.object.errors.any? %>
  <h4>Doctor</h4>
  <%= f.input :name%>
  <%= f.input :specialization%><br>
  <div class="place_to_add">
    <%= f.simple_fields_for :appointments do |appointment|%>
        <%= render 'appointment_fields', {:appointment=> appointment, :f=> f}%>

    <% end %>
  </div>
    <br><%= link_to_add_association "Add Appointment", f, :appointments, form_name: 'appointment', class: "btn btn-outline-success btn-sm float-end", data: {association_insertion_method: "append", association_insertion_node: ".place_to_add"}%>

  <div class= "btn">
  <%= f.button :submit, class: 'btn btn-primary'%>
  </div>
<% end %>
