<div class="container">
    <h3>DOCTORS</h3>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Specialization</th>
             <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @doctors.each do |doctor|%>
            <tr>
            <th scope="row"><%= doctor.id%></th>
            <td><%= doctor.name%></td>
            <td><%= doctor.specialization%></td>
            <td class="text-center">
                <div class="dropdown">
                <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Action
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li class="btn btn-outline-secondary btn-sm"><%= link_to 'Edit', edit_doctor_path(doctor), class: 'dropdown-item'%></li>
                    <li class="btn btn-outline-info btn-sm"><%= link_to 'Details', doctor_path(doctor), class: 'dropdown-item '%></li>
                    <li class="btn btn-outline-danger btn-sm"><%= button_to 'Delete',  doctor , method: :delete, class: "dropdown-item",data: {confirm: "Are you sure?"} %></li>
                </ul>
                </div>
            </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
