<div class="container">
    <h3>DOCTOR DETAILS</h3>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Specialization</th>

            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row"><%= @doctor.id%></th>
            <td><%= @doctor.name%></td>
            <td><%= @doctor.specialization%></td>
            </tr>
        </tbody>
    </table>
    <br>
    <h3>APPOINTMENT DETAILS</h3>
    <div class="row">
        <div class="col-md-6">
            <% @doctor_appointments.each do |appointment|%>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">Appointment</h5>
                <p class="card-text">Appointment date: <strong> <%=appointment.date%> </strong></p>
                <p class="card-text">Appointment Room No: <strong> <%=appointment.room_no%> </strong></p>
                </div>
            </div><hr>
            <% end %> 
        </div>
        <div class="col-md-6">
            <% @patient_name.each do |patient|%>
            <div class="card mb-3" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">Patient</h5>
                <p class="card-text">Patient Name: <strong> <%=patient.name%> </strong></p>
                </div>
            </div><br><hr>
            <% end %> 
        </div>
    </div>

     
</div>
