
<%= simple_form_for @appointment, html: {'data-turbo' => "false"} do |f|%>

    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :date, as: :date%>
    <%= f.input :room_no%>

    <%= f.association :doctor,:label_method => :name,:value_method => :id, prompt: 'Select doctor'%>
    <%= f.association :patient, include_blank: false, prompt: 'Select patient'%>
    <h3> ADD Doctor</h3>
   
    <br>
    <%= f.button :submit, class: 'btn btn-primary'%>
<% end %>

